/*---搜索结果---*/
.sousuobox {
	width: 700px;
    margin: 0 auto;
}

.sousuoh {
	border-bottom: 3px solid #007bc4;
    padding: 5px 0px 15px 0px;
    text-align: center;
    color: #007bc4;
    margin-left: 50px;
    margin-right: 50px;
}

.sousuotitle {
    top: 13px !important;
    font-size: 18px !important;
}

.sousuoline {
	top: 43px !important;
}

.sousuodes {
	top: 43px !important;
	font-size: 15px !important;
	line-height: 23px !important;
    height: 80px !important;
    overflow: hidden !important;
}

.sousuotitle span {
	color: #999;
    font-size: 16px;
    padding: 0 10px;
}




